.page-header
  %h1 Login
= form_for @user_session do |f|
  = render 'shared/errors', object: @user_session
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :remember_me
    = f.check_box :remember_me
  .form-group
    = f.submit "Log in", class: 'btn btn-primary'
    = link_to 'Password Reset', new_reset_path, class: 'btn btn-primary'
    = link_to 'Sign up', new_user_path, class: 'btn btn-primary'
